APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:2v9LJ9QHRzG3wHmZ+5OgYKn8kJI4hugZtpjr+1ge7d4=
APP_DEBUG=true
APP_URL=http://pms

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=pms
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SQS_QUEUE=RT-Stage
SQS_PREFIX=https://sqs.ap-southeast-1.amazonaws.com/957147879782

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=4ac6207161f97f
MAIL_PASSWORD=82712c5edd81a2
MAIL_FROM_ADDRESS=notifications@buildo.xyz
MAIL_FROM_NAME=Buildo.xyz

AWS_ACCESS_KEY_ID=AKIA55WTVTFTJJ6F7DBA
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=storage.buildo.xyz
AWS_URL=https://storage.buildo.xyz

MS_SMS_API=https://ms-sms.buildo.xyz
MS_SMS_DEFAULT_PROVIDER=onnorokomsms
MS_SMS_API_TOKEN=RTISBEST

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

BRAND_SITE=buildo.xyz

PASSWORD_RESET_LINK_PREFIX=https://login.buildo.xyz/reset-password

FRESH_DESK_DOMAIN=https://reformedtech.freshdesk.com/api/v2
FRESH_DESK_API_KEY=I4h3mX28Tw3lfacqot
FRESH_DESK_PASSWORD=abc123DEF

